dialog {
  position: relative;
  min-width: 500px;

  padding: 16px;

  background: gray;

  border-radius: 20px;
}

dialog > header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

dialog > header > button {
  display: flex;
  align-items: center;
}

dialog > header > h2 {
  margin: 0;
}

#closeModal{
  cursor: pointer;
  margin-left: auto;
}

#closeModal:hover{
  color: white;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}
