dialog {
  position: relative;
  min-width: 500px;
  padding: 24px;

  background: var(--selected-color);
  color: var(--text-color);

  border: 0;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 5px var(--secondary-bg-color));
}

dialog > header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
}

dialog > header > button {
  display: flex;
  align-items: center;
}

dialog > header > h2 {
  margin: 0;
  margin-bottom: 8px;
}

#closeModal{
  cursor: pointer;
  margin-left: auto;
}

#closeModal:hover{
  color: white;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}
