.listItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 100%;
  padding: 4px;
  text-align: left;
}

.listItem .shiftRight {
  margin-left: 18px;
}

.listItem:hover {
  color: var(--color-accent)
}

.listItemIcon {
  flex-shrink: 0;
  margin-right: 8px;
}

.selected {
  background: var(--color-light);
}

.chevron.expanded {
  transform: rotate(90deg);
}
