.listItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.listItem .shiftRight {
  margin-left: 18px;
}

.listItem:hover {
  color: var(--accent-color)
}

.listItemIcon {
  margin-right: 8px;
}

.selected {
  background: var(--selected-color);
}

#chevron.expanded {
  transform: rotate(90deg);
}
