.listItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.listItem.shiftRight {
  margin-left: 18px;
}

.listItem:hover {
  color: var(--color-accent)
}

.listItemIcon {
  margin-right: 8px;
}

.selected {
  background: var(--color-light);
}

.chevron.expanded {
  transform: rotate(90deg);
}
