#spinner {
  border-style: solid; 
  border-color: var(--color-lighter) transparent var(--color-lighter) transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

#spinner.darkSkin {
  border-color: var(--color-darker) transparent var(--color-darker) transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.globalSpinner {
  min-width: 0;
  background: transparent;
  border: 0;
}
