#spinner {
  border-style: solid; 
  border-color: var(--text-color) transparent var(--text-color) transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

#spinner.darkSkin {
  border-color: var(--secondary-bg-color) transparent var(--secondary-bg-color) transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}
