.dirTreeItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.dirTreeItem:hover, .dirTreeItem:focus {
  font-weight: 600;
}

#dirTree {
  height: 100vh;
  width: 50%;
  border: 1px solid red;
}

#chevron.expanded {
  transform: rotate(90deg)
}

.dirItemIcon {
  margin-right: 8px;
}

.selected {
  background: rgba(255,255,255,0.2)
}
