.dirTree {
  position: relative;
  height: 100vh;
  min-width: 300px;
  max-width: 50%;
  display: flex;
  overflow: auto;
  background: var(--color-darker);
  filter: drop-shadow(0px 0px 5px var(--color-darker));
}

.resizeBorder {
  position: absolute;
  right:0;
  z-index: 2;

  width: 8px;
  height: 100vh;

  cursor: ew-resize;
}
