#dirTree {
  height: 100vh;
  min-width: 300px;
  max-width: 50%;
  display: flex;
  overflow: auto;
  background: var(--color-darker);
  filter: drop-shadow(0px 0px 5px var(--color-darker));
}

#resizeBorder {
  width: 8px;
  cursor: ew-resize;
}
