input[type=text], input[type=password] {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid black;
}

input:invalid {
  color: red;
}

input::placeholder {
  font-size: 1rem;
}

.modalContent > em {
  color: rgba(0,0,0,0.8);
}

.modalContent > textarea {
  resize: none;
  height: 300px;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid black;
}

.modalContent > textarea::placeholder {
  font-size: 1rem;
}
