.modalContent {
  display: flex;
  flex-direction: column;
}

.modalContent > button {
  background: black;
  color: white;
  cursor: pointer;
}

.modalContent > button:hover, .modalContent > button:focus {
  background: rgba(0,0,0,0.6);
}

input:invalid {
  color: red;
}
