button[type=submit] {
  background: var(--text-color);
  color: var(--secondary-bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 40px;
  border-radius: 16px;

  font-weight: bold;
}

button[type=submit]:disabled {
  background: var(--text-color);
  color: var(--secondary-bg-color);
  cursor: initial;
}

button[type=submit]:disabled:hover,button[type=submit]:disabled:focus {
  background: var(--text-color);
  color: var(--secondary-bg-color);
  cursor: initial;
}

button[type=submit]:hover, button[type=submit]:focus {
  background: var(--accent-color);
  color: var(--secondary-bg-color);
}
