.action {
  cursor: pointer;
  height: fit-content;
}

.action:disabled > *, .action:disabled > *:hover {
  color: var(--color-disabled);
  cursor: initial;
}

.action>svg:hover {
  color: var(--color-accent);
}

