.treeItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.treeItem:hover,
.treeItem:focus {
  color: var(--accent-color)
}

.treeItemIcon {
  margin-right: 8px;
}

.selected {
  background: var(--selected-color);
}

#chevron.expanded {
  transform: rotate(90deg);
}
