* {
  box-sizing: border-box;
}

:root {
  /*COLORS*/
  --color-darker: #191927;
  --color-dark: #25263b;
  --color-light: #373b4e;
  --color-lighter: #cad3f5;
  --color-accent: #f7a87f;
  --color-error: #ed8796;
  --color-disabled: #7e88a3;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-lighter);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  color: var(--color-lighter)
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 16px 0;
}

h2 {
  flex: 1;
}

ul {
  list-style-type: none;
  padding-left: 16px;
  width: 100%;
}

button {
    /* RESET */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
